/* Colors */
:root {
    --basic-black: #000000;
    --basic-dark-extra: #231F20;
    --basic-dark: #283136;
    --basic-white: #ffffff;
    --basic-gray-extra: #4D4D4D;
    --basic-gray: #A6A6A6;
    --basic-gray-light: #EEEEEE;
    --basic-red-extra: #D7373B;
    --basic-red: #E74246;
    --basic-red-light: #FB565A;
    --basic-green-extra: #00AA62;
    --basic-green: #00BC6C;
    --basic-green-light: #00CA74;
    --basic-yellow-extra: #E5A722;
    --basic-yellow: #EAB534;
    --basic-yellow-light: #EFC84A;
    --additional-gray-extra: #444444;
    --additional-gray: #666666;
    --additional-gray-light: #E1E1E1;
    --border-rest: #D7DCDE;
    --border-hover: #B4B9BB;
    --border-focus: #000000;
    --border-invalid: #E74246;
    --button-gray-hover: #DFDFDF;
    --button-gray-active: #D5D5D5;
    --filter-toggle: #ABABAB;
    --basic-black-opacity-03: rgba(0, 0, 0, 0.3);
    --basic-white-opacity-03: rgba(255, 255, 255, 0.3);
    --basic-black-opacity-06: rgba(0, 0, 0, 0.6);
}


/* Global Start */
body {
    min-width: 1180px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-dark);
    background-color: var(--basic-white);
}
  
a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Global end */

/* Grid start */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
/* Grid end */


/* Buttons start */
.button {
    display: inline-block;
    font: inherit;
    text-align: center;
    line-height: 18px;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}


/* Red Color Button */
.button.red {
    background-color: var(--basic-red-light);
    text-transform: uppercase;
}

.button.red:hover,
.button.red:focus {
    background-color: var(--basic-red);
    text-transform: uppercase;
}

.button.red:active {
    background-color: var(--basic-red-extra);
    text-transform: uppercase;
    color: var(--basic-white-opacity-03);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Green Color Button */
.button.green {
    background-color: var(--basic-green-light);
    text-transform: uppercase;
}

.button.green:hover,
.button.green:focus {
    background-color: var(--basic-green);
    text-transform: uppercase;
}

.button.green:active {
    background-color: var(--basic-green-extra);
    text-transform: uppercase;
    color: var(--basic-white-opacity-03);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Yellow Color Button */
.button.yellow {
    background-color: var(--basic-yellow-light);
    text-transform: uppercase;
}

.button.yellow:hover,
.button.yellow:focus {
    background-color: var(--basic-yellow);
    text-transform: uppercase;
}

.button.yellow:active {
    background-color: var(--basic-yellow-extra);
    text-transform: uppercase;
    color: var(--basic-white-opacity-03);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
/* Buttons end */


/* Main Header Start */
.main-header {
    background-color: var(--basic-gray-light);
}
/* Main Header End */


/* Container */
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation .container {
    display: flex;
}


/* Main navigation */
.main-navigation .main-header-logo:active {
    fill: var(--basic-gray);
}

.main-header-logo {
    width: 160px;
    height: 65px;
    margin-right: 178px;
}
.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 49px;
    color: var(--basic-black);
    background-color: transparent;
}

.main-header-wrapper {
    background-color: var(--basic-gray-light);
}

.catalog-header-h1 {
    font-size: 55px;
    line-height: 55px;
    margin-top: 78px;
    margin-bottom: 108px;
    color: var(--basic-black);
    text-align: center;
    font-weight: 500;
}


/* Site navigation start */
.site-navigation {
    list-style: none;
    margin: 0; 
    padding: 0;
    width: 484px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
}

.site-navigation a {
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
}
/* Site navigation end */


/* Site navigation state start */
.site-navigation a:not([href]) {
    border-bottom: var(--basic-red-light) 2px solid;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--basic-red-light);
}

.site-navigation a:active {
    color: var(--basic-black-opacity-03);
}
/* Site navigation end */


/* Navigation basket start */
.navigation-basket {
    min-width: 160px;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 178px;
    margin-top: 22px;
}

.navigation-basket svg {
    margin-right: 25px;
}

.navigation-basket a {
    color: var(--basic-black);
    padding-top: 5px
}

.navigation-basket a:hover,
.navigation-basket a:focus {
    color: var(--basic-red-light);
}

.navigation-basket a:active {
    color: var(--basic-black-opacity-03);
}
/* Navigation basket end */


/* Main Slider start */
.slider {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: auto 760px;
}

.slider-left-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 78px;
}

.slider img {
    grid-column: 2 / 3;
}

.slider .button {
    padding-left: 54px;
    padding-top: 17px;
    padding-right: 54px;
    padding-bottom: 15px;
    border-radius: 3px;
    margin-top: 38px;
}

.slider-left-paragraph {
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

span.tagline-one {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: var(--basic-black)
}
/* Main Slider end */


/* Features start */
.main-features-list {
    margin-bottom: 48px;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-right: 60px;
}

.features-item .button {
    padding-left: 39px;
    padding-top: 17px;
    padding-right: 40px;
    padding-bottom: 15px;
    border-radius: 3px;

}
  
.features-item {
    text-align: left;
}

.features-item-text {
    margin-bottom: 32px;
}

.features-item-picture {
    width: 300px;
    height: 146px;
}
  
.features-list-item-name {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-black);
    margin-top: 20px;
    margin-bottom: 16px;
}

.main-section-divider {
    background-color: var(--basic-gray-light);
    height: 2px;
}
/* Features end */


/* About us start */
.main-about-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    margin-top: 71px;
}

.about-us {
    margin-top: 20px;
    width: 660px;
}

.about-us-list {
    list-style: none;
    margin:0; 
    padding: 0;
}

.tagline-two {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: var(--basic-black);
}

.about-us-list-span {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
}

.about-us-list-item {
    position: relative;
    padding-left: 32px;
    margin-bottom: 24px;
}

.about-us-list-item::before {
    content: "";
    position: absolute;
    background-color: var(--basic-red-light);
    width: 25px;
    height: 2px;
    top: 11px;
    left: 0px;
}
/* About us end */


/* About us numbers start */
.about-us-numbers {
    width: 360px;
}

.about-us-numbers-picture {
    width: 360px;
    margin-bottom: 37px;
}

.about-us-table:not(span) {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
}

.about-us-numbers-tagline {
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    text-align: center;
}

.about-us-numbers .number {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black)
}

.about-us-numbers .percent {
    vertical-align: 15px;
}

.about-us-numbers td {
    line-height: 18px;
}
/* About us numbers end */


/* Portfolio start */
.portfolio {
    margin-top: 46px;
    /* margin-bottom: 44px; */
}
.portfolio-list {
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
    align-items: center;
    justify-items: center;
}
.portfolio .portfolio-list {
    list-style: none;
    margin:0; 
    padding: 0;
}

.main-portfolio-divider {
    height: 52px;
    width: 2px;
    background-color: var(--basic-gray-light);
    margin-bottom: 44px;
}

.portfolio-item {
    padding-bottom: 44px;
    opacity: 0.2;
}

.portfolio-item:hover,
.portfolio-item:focus {
    opacity: 1;
}

.portfolio-item:active {
    opacity: 0.1;
}
/* Portfolio end */


/* Footer Start */
/* Map and Badge start */
.footer-map {
    height: 440px;
    margin-bottom: 68px;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 68px;
    margin-top: 80px;
}

.footer-map .container {
    position: relative;
}

.footer-badge-container {
    top: 54px;
    left: 10px;
    position: absolute;
    background-color: var(--basic-white);
    width: 219px;
    display: flex;
    flex-direction: column;
    padding-top: 49px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 47px;
}

.footer-badge-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto 0;
    margin-bottom: 22px;
}

.footer-badge-container p {
    margin: 0;
    padding: 0;
}

.footer-badge-number a[href] {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

.footer-badge-container .button {
    padding-left: 44px;
    padding-top: 17px;
    padding-right: 44px;
    padding-bottom: 15px;
    border-radius: 3px;
    margin-top: 38px;
}

.address-badge span {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-black)
}

.address-badge p {
    line-height: 18px;
    color: var(--additional-gray);
}

.footer-map-pin-container {
    position: absolute;
    width: 231px;
    height: 190px;
    top: 86px;
    right: 255px;
}
/* Map and Badge end*/

.main-footer .container {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
}

.footer-social-icons {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer-text-right {
    grid-row: 2 / 3;
    grid-row: 1 / 2;
    margin-right: 60px;
}

/* Social icons */
.social-icons {
    list-style: none;
    margin:0; 
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background-color: var(--additional-gray-light);
    border-radius: 50%;
    margin-bottom: 15px;
}

.social-icons a:hover,
.social-icons a:focus {
    background-color: var(--basic-red);
}

.social-icons a:active {
    background-color: var(--basic-red-extra);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-icons a:active path {
    opacity: 0.3;
}

.social-icons svg:active {
    opacity: 0.3;
}


/* Discount */
.discount-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--basic-black)
}

.discount-text {
    line-height: 22px;
    color: var(--additional-gray-extra)
}


/* Modal contact Us */
.contact-us-window {
    background-color: var(--basic-white);
    width: 960px;
    padding-top: 63px;
    padding-left: 100px;
    padding-bottom: 84px;
    padding-right: 99px;
}

.close-button {
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: none;
    opacity: 0.3;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    opacity: 1;
}

.close-button:active {
    opacity: 0.1;
}

.contact-us-window .button {
    padding-left: 83px;
    padding-top: 17px;
    padding-right: 83px;
    padding-bottom: 15px;
    border-radius: 3px;
}

.contact-us-window h2 {
    font-size: 45px;
    line-height: 120%;
}

.contact-us-window label {
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-black);
}

.contact-us-window input,
.contact-us-window textarea {
    font: inherit;
    font-weight: 400;
    line-height: 18px;
    background-color: var(--basic-white);
    border: 2px solid var(--border-rest);
    border-radius: 3px;
    color: var(--additional-gray-extra);
    opacity: 0.5;
}

.contact-us-window input:hover,
.contact-us-window textarea:hover,
.contact-us-window input:focus,
.contact-us-window textarea:focus {
    border: 2px solid var(--border-hover);
}

.contact-us-window input:focus,
.contact-us-window textarea:focus {
    outline: none;
    border: 2px solid var(--border-focus);
    opacity: 1;
}

.contact-us-window input:invalid {
    border: 2px solid var(--border-invalid);
    color: var(--border-invalid);
}
/* Footer end */


/* Catalog Start*/
main.container-catalog {
    display: grid;
    grid-template-columns: 260px 760px;
    column-gap: 140px;
}

.catalog-filter-left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-bottom: auto;
}

.catalog-filter-horizontal {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


/* H1 text */
.catalog-h1 {
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black)
}


/* Filter on the left side start*/
.catalog-filter-left fieldset {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 43px;
}

.catalog-filter-left fieldset:first-of-type {
    margin-top: 55px;
    margin-bottom: 54px;
}

.catalog-filter-left fieldset:last-of-type {
    margin-bottom: 34px;
}

.range-filter {
    width: 260px;
    margin-top: 34px;
}

.range-controls {
    height: 41px;
    border-radius: 3px;
    background-color: var(--basic-gray-light);
    margin-bottom: 14px;
    padding-top: 39px;
    padding-left: 28px;
    padding-right: 22px;
    position: relative;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--border-rest);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background-color: var(--basic-green-light);
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    background-color: var(--filter-toggle);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.catalog-filter-left ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

.catalog-filter-left legend {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.catalog-filter-left label {
    cursor: pointer;
}

.catalog-filter-left .price-range {
    line-height: 22px;
    text-transform: uppercase;
}

.catalog-filter-left input[type=number] {
    width: 80px;
    height: 38px;
    margin-left: 11px;
    font: inherit;
    line-height: 22px;
    text-align: center;
    color: var(--basic-dark);
    background-color: var(--basic-gray-light);
    border-radius: 3px;
    border: 2px solid var(--basic-gray-light);
}

.catalog-filter-left input[type=number]::placeholder {
    color: var(--basic-dark);
}

.catalog-filter-left input[type=number]:active,
.catalog-filter-left input[type=number]:focus {
    outline: none;
    border: 2px solid var(--border-focus);
}

.catalog-filter-left input[type=radio] {
    cursor: pointer;
    background-image: url("../img/radio-off.svg");
}

.catalog-filter-left input[type=radio]:checked {
    cursor: pointer;
    background-image: url("../img/radio-on.svg");
}

.catalog-filter-left input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.catalog-filter-left .check__box {
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-color: var(--basic-white);
    margin-left: -36px;
    opacity: 0.4;
}

.catalog-filter-left .check__box:hover {
    opacity: 1;
}

.catalog-filter-left .check__box:disabled {
    opacity: 0.1;
}

.catalog-filter-left .check {
    padding-left: 36px;
}

.catalog-filter-left .option {
    display: block;
    margin-bottom: 17px;
}

.catalog-filter-left button {
    font: inherit;
    font-weight: 500;
    color: var(--basic-black);
    line-height: 24px;
    text-transform: uppercase;
    background-color: var(--basic-gray-light);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 88px;
    padding-top: 17px;
    padding-right: 89px;
    padding-bottom: 12px;
}

.catalog-filter-left button:hover,
.catalog-filter-left button:focus {
    background-color: var(--button-gray-hover);
}

.catalog-filter-left button:active {
    background-color: var(--button-gray-active);
    color: var(--basic-black-opacity-03);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
/* Filter on the left side end */


/* Filter horizontal start */
.filter-horizontal-fields {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 48px;
}

.catalog-filter-horizontal span {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    font-weight: 700;
    text-transform: uppercase;
}

.catalog-filter-horizontal button {
    font: inherit;
    text-align: center;
    color: var(--basic-black-opacity-03);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.catalog-filter-horizontal button:hover,
.catalog-filter-horizontal button:focus {
    color: var(--basic-black-opacity-06);
}

.catalog-filter-horizontal button:active {
    color: var(--basic-black);
}

.sort-button {
    opacity: 0.2;
}

.sort-button:hover,
.sort-button:focus {
    opacity: 1;
}

.sort-button:active {
    fill: var(--basic-dark-extra);
    opacity: 1;
}
/* Filter horizontal end */


/* Catalog items list start */
.catalog-items {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.catalog-items ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

.catalog-items .catalog-items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-items-list li {
    flex-basis: 360px;
}

.catalog-items-list .catalog-items-block {
    position: relative;
    margin-bottom: 55px;
}

.catalog-items-block img {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 580px;
}

.catalog-items-browser {
    background-image: url("../img/browser.svg");
    width: 360px;
    height: 40px;
}

.catalog-items-list .catalog-items-wrapper {
    position: absolute;
    bottom: 0;
    background-color: var(--basic-gray-light);
    display: flex;
    visibility: hidden;
    padding-left: 52px;
    padding-top: 26px;
    padding-right: 53px;
    padding-bottom: 44px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.catalog-items-block:hover .catalog-items-wrapper {
    visibility: visible;
}

.catalog-items-block:hover .catalog-items-browser {
    background-image: url(../img/browser-hover.svg);
}

.catalog-items-header {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: auto;
}

.catalog-items-header:hover,
.catalog-items-header:focus {
    color: var(--basic-red-light);

}

.catalog-items-header:active {
    color: var(--basic-black-opacity-03);
}

.catalog-items-paragraph {
    width: 255px;
    font-size: 16px;
    line-height: 18px;
    color: var(--additional-gray);
    margin-bottom: 32px;
}

.btn-price {
    font: inherit;
    text-align: center;
    line-height: 18px;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red-light);
    border: none;
    cursor: pointer;
    padding-left: 72px;
    padding-top: 17px;
    padding-right: 72px;
    padding-bottom: 15px;
    border-radius: 3px;
}

.btn-price:hover,
.btn-price:focus {
    background-color: var(--basic-red);
}

.btn-price:active {
    background-color: var(--basic-red-extra);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
/* Catalog items list end */


/* Catalog pagination start */
.catalog-pagination {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-wrap: wrap;
}
.catalog-pagination .pagination {
    font: inherit;
    text-align: center;
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-black);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-gray-light);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-right: 11px;
    margin-bottom: 20px;
}

.catalog-pagination .pagination-next {
    font: inherit;
    text-align: center;
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-black);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-gray-light);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 78px;
    padding-top: 17px;
    padding-right: 77px;
    padding-bottom: 15px;
}

.catalog-pagination .pagination:hover,
.catalog-pagination .pagination:focus {
    background-color: var(--button-gray-hover);
}

.catalog-pagination .pagination:active {
    background-color: var(--button-gray-active);
    color: var(--basic-black-opacity-03);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog-pagination a:not([href]),
.catalog-pagination a:not([href]):hover {
    box-shadow: inset 0px 0px 0px 3px var(--button-gray-active);
    background-color: var(--basic-white);
    cursor: default; 
}
/* Catalog pagination end */