/* Colors */
:root {
    --basic-black: #000000;
    --basic-dark-extra: #231F20;
    --basic-dark: #283136;
    --basic-white: #ffffff;
    --basic-gray-extra: #4D4D4D;
    --basic-gray: #A6A6A6;
    --basic-gray-light: #EEEEEE;
    --basic-red-extra: #D7373B;
    --basic-red: #E74246;
    --basic-red-light: #FB565A;
    --basic-green-extra: #00AA62;
    --basic-green: #00BC6C;
    --basic-green-light: #00CA74;
    --basic-yellow-extra: #E5A722;
    --basic-yellow: #EAB534;
    --basic-yellow-light: #EFC84A;
    --additional-gray-extra: #444444;
    --additional-gray: #666666;
    --additional-gray-light: #E1E1E1;
    --border-rest: #D7DCDE;
    --border-hover: #B4B9BB;
    --border-focus: #000000;
    --border-invalid: #E74246;
    --button-gray-hover: #DFDFDF;
    --button-gray-active: #D5D5D5;
    --basic-black-opacity-03: rgba(0, 0, 0, 0.3);
    --basic-white-opacity-03: rgba(255, 255, 255, 0.3);
    --basic-black-opacity-06: rgba(0, 0, 0, 0.6);
}


/* Global Start */
body {
    min-width: 1180px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-dark);
    background-color: var(--basic-white);
}
  
a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Global end */

/* Grid start */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
/* Grid end */


/* Buttons start */
.button {
    display: inline-block;
    font: inherit;
    text-align: center;
    line-height: 18px;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}


/* Red Color Button */
.button.red {
    background-color: var(--basic-red-light);
    text-transform: uppercase;
}

.button.red:hover,
.button.red:focus {
    background-color: var(--basic-red);
    text-transform: uppercase;
}

.button.red:active {
    background-color: var(--basic-red-extra);
    text-transform: uppercase;
    color: var(--basic-white-opacity-03);
}


/* Green Color Button */
.button.green {
    background-color: var(--basic-green-light);
    text-transform: uppercase;
}

.button.green:hover,
.button.green:focus {
    background-color: var(--basic-green);
    text-transform: uppercase;
}

.button.green:active {
    background-color: var(--basic-green-extra);
    text-transform: uppercase;
    color: var(--basic-white-opacity-03);
}


/* Yellow Color Button */
.button.yellow {
    background-color: var(--basic-yellow-light);
    text-transform: uppercase;
}

.button.yellow:hover,
.button.yellow:focus {
    background-color: var(--basic-yellow);
    text-transform: uppercase;
}

.button.yellow:active {
    background-color: var(--basic-yellow-extra);
    text-transform: uppercase;
    color: var(--basic-white-opacity-03);
}
/* Buttons end */


/* Main Header Start */
.main-header {
    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
    background-color: var(--basic-gray-light);
}
/* Main Header End */


/* Container */
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation .container {
    display: flex;
}


/* Main navigation */
.main-navigation .main-header-logo:active {
    fill: var(--basic-gray);
}

.main-header-logo {
    width: 160px;
    height: 65px;
    margin-right: 178px;
}
.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 49px;
    color: var(--basic-black);
    background-color: transparent;
}

.main-header-wrapper {
    background-color: var(--basic-gray-light);
}

.catalog-header-h1 {
    font-size: 55px;
    line-height: 55px;
    margin-top: 78px;
    margin-bottom: 108px;
    color: var(--basic-black);
    text-align: center;
    font-weight: 500;
}


/* Site navigation start */
.site-navigation {
    list-style: none;
    margin: 0; 
    padding: 0;
    width: 484px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
}

.site-navigation a {
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
}
/* Site navigation end */


/* Site navigation state start */
.site-navigation a:not([href]) {
    border-bottom: var(--basic-red-light) 2px solid;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--basic-red-light);
}

.site-navigation a:active {
    color: var(--basic-black-opacity-03);
}
/* Site navigation end */


/* Navigation basket start */
.navigation-basket {
    min-width: 160px;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 178px;
    margin-top: 22px;
}

.navigation-basket svg {
    margin-right: 25px;
}

.navigation-basket a {
    color: var(--basic-black);
    padding-top: 5px
}

.navigation-basket a:hover,
.navigation-basket a:focus {
    color: var(--basic-red-light);
}

.navigation-basket a:active {
    color: var(--basic-black-opacity-03);
}
/* Navigation basket end */


/* Main Slider start */
.slider {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: auto 760px;
}

.slider-left-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 78px;
}

.slider img {
    grid-column: 2 / 3;
}

.slider .button {
    padding-left: 54px;
    padding-top: 17px;
    padding-right: 54px;
    padding-bottom: 15px;
    border-radius: 3px;
    margin-top: 38px;
}

.slider-left-paragraph {
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

span.tagline-one {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: var(--basic-black)
}
/* Main Slider end */


/* Features start */
.main-features-list {
    margin-bottom: 48px;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-right: 60px;
}

.features-item .button {
    padding-left: 39px;
    padding-top: 17px;
    padding-right: 40px;
    padding-bottom: 15px;
    border-radius: 3px;

}
  
.features-item {
    text-align: left;
}

.features-item-text {
    margin-top: 16px;
    margin-bottom: 32px;
}

.features-item img {
    width: 300px;
    height: 146px;
}
  
.features-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-black)
}

.main-section-divider {
    background-color: var(--basic-gray-light);
    height: 2px;
}
/* Features end */


/* About us start */
.main-about-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    margin-top: 71px;
}

.about-us {
    width: 660px;
}

.about-us-list {
    list-style: none;
    margin:0; 
    padding: 0;
}

.tagline-two {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: var(--basic-black);
}

.about-us-list-span {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
}

.about-us-list-item {
    position: relative;
    padding-left: 32px;
    margin-bottom: 24px;
}

.about-us-list-item::before {
    content: "";
    position: absolute;
    background-color: var(--basic-red-light);
    width: 25px;
    height: 2px;
    top: 11px;
    left: 0px;
}
/* About us end */


/* About us numbers start */
.about-us-numbers {
    width: 360px;
}

.about-us-numbers img {
    width: 360px;
}

.about-us-table:not(span) {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    vertical-align: sub;
}

.about-us-numbers-tagline {
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    text-align: center;
}

.about-us-numbers .percent {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black)
}

.about-us-numbers td {
    line-height: 18px;
}
/* About us numbers end */


/* Portfolio start */
.portfolio {
    margin-top: 46px;
    /* margin-bottom: 44px; */
}
.portfolio-list {
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
    align-items: center;
    justify-items: center;
}
.portfolio .portfolio-list {
    list-style: none;
    margin:0; 
    padding: 0;
}

.main-portfolio-divider {
    height: 52px;
    width: 2px;
    background-color: var(--basic-gray-light);
    margin-bottom: 44px;
}

.portfolio-item {
    padding-bottom: 44px;
    opacity: 0.2;
}

.portfolio-item:hover,
.portfolio-item:focus {
    opacity: 1;
}

.portfolio-item:active {
    opacity: 0.1;
}
/* Portfolio end */


/* Footer Start */
/* Map and Badge start */
.footer-map {
    width: 1440px;
    height: 440px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 68px;
    background-image: url("/img/map.png");
    
}

.footer-badge-container {
    top: 54px;
    left: 140px;
    position: absolute;
    background-color: var(--basic-white);
    width: 219px;
    display: flex;
    flex-direction: column;
    padding-top: 49px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 47px;
}

.footer-badge-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.footer-badge-container p {
    margin: 0;
    padding: 0;
}

.footer-badge-container .button {
    padding-left: 44px;
    padding-top: 17px;
    padding-right: 44px;
    padding-bottom: 15px;
    border-radius: 3px;
    margin-top: 38px;
}

.address-badge span {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-black)
}

.address-badge p {
    line-height: 18px;
    color: var(--additional-gray);
}

.footer-map-pin-container {
    position: absolute;
    width: 231px;
    height: 190px;
    top: 86px;
    left: 822px;
}
/* Map and Badge end*/

.main-footer .container {
    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
}

.footer-social-icons {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer-text-right {
    grid-row: 2 / 3;
    grid-row: 1 / 2;
    margin-right: 60px;
}

/* Social icons */
.social-icons {
    list-style: none;
    margin:0; 
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background-color: var(--additional-gray-light);
    border-radius: 50%;
    margin-bottom: 15px;
}

.social-icons a:hover,
.social-icons a:focus {
    background-color: var(--basic-red);
}

.social-icons a:active {
    background-color: var(--basic-red-extra);
}

.social-icons svg:active {
    opacity: 0.3;
}


/* Discount */
.discount-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--basic-black)
}

.discount-text {
    line-height: 22px;
    color: var(--additional-gray-extra)
}


/* Modal contact Us */
.contact-us {
    background-color: var(--basic-white);
}

.close-button {
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: none;
    opacity: 0.3;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    opacity: 1;
}

.close-button:active {
    opacity: 0.1;
}

.contact-us-window .button {
    padding-left: 83px;
    padding-top: 17px;
    padding-right: 83px;
    padding-bottom: 15px;
    border-radius: 3px;
}

.contact-us-window h2 {
    font-size: 45px;
    line-height: 120%;
}

.contact-us-window label {
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-black);
}

.contact-us-window input,
.contact-us-window textarea {
    font: inherit;
    font-weight: 400;
    line-height: 18px;
    background-color: var(--basic-white);
    border: 2px solid var(--border-rest);
    border-radius: 3px;
    color: var(--additional-gray-extra);
    opacity: 0.5;
}

.contact-us-window input:hover,
.contact-us-window textarea:hover,
.contact-us-window input:focus,
.contact-us-window textarea:focus {
    border: 2px solid var(--border-hover);
}

.contact-us-window input:focus,
.contact-us-window textarea:focus {
    border: 2px solid var(--border-focus);
    opacity: 1;
}

.contact-us-window input:invalid {
    border: 2px solid var(--border-invalid);
    color: var(--border-invalid);
}
/* Footer end */


/* Catalog Start*/
main.container-catalog {
    display: grid;
    grid-template-columns: 260px 760px;
    column-gap: 140px;
}

.catalog-filter-left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-bottom: auto;
}

.catalog-filter-horizontal {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


/* H1 text */
.catalog-h1 {
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black)
}


/* Filter on the left side start*/
.filter-left ul {
    list-style: none;
    margin:0; 
    padding: 0;
}

.filter-left legend {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    font-weight: 700;
    text-transform: uppercase;
}

.filter-left label {
    line-height: 19px;
    cursor: pointer;
}

.filter-left .price-range {
    line-height: 22px;
    text-transform: uppercase;
}

.filter-left input[type=number] {
    font: inherit;
    line-height: 22px;
    color: var(--basic-dark);
    background-color: var(--basic-gray-light);
    border-radius: 3px;
    border: 2px solid var(--basic-gray-light);
}

.filter-left input[type=number]::placeholder {
    color: var(--basic-dark);
}

.filter-left input[type=number]:active,
.filter-left input[type=number]:focus {
    border: 2px solid var(--border-focus);
}

.filter-left input[type=radio] {
    cursor: pointer;
    background-image: url("/img/radio-off.svg");
}

.filter-left input[type=radio]:checked {
    cursor: pointer;
    background-image: url("/img/radio-on.svg");
}

.filter-left button {
    font: inherit;
    font-weight: 500;
    text-align: center;
    color: var(--basic-black);
    line-height: 18px;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-gray-light);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.filter-left button:hover,
.filter-left button:focus {
    background-color: var(--button-gray-hover);
}

.filter-left button:active {
    background-color: var(--button-gray-active);
    color: var(--basic-black-opacity-03);
}
/* Filter on the left side end */


/* Filter horizontal start */
.filter-horizontal legend {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    font-weight: 700;
    text-transform: uppercase;
}

.filter-horizontal button {
    font: inherit;
    text-align: center;
    color: var(--basic-black-opacity-03);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.filter-horizontal button:hover,
.filter-horizontal button:focus {
    color: var(--basic-black-opacity-06);
}

.filter-horizontal button:active {
    color: var(--basic-black);
}

.sort-button {
    opacity: 0.2;
}

.sort-button:hover,
.sort-button:focus {
    opacity: 1;
}

.sort-button:active {
    fill: var(--basic-dark-extra);
    opacity: 1;
}
/* Filter horizontal end */


/* Catalog items list start */
.catalog-items {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.catalog-items ul {
    list-style: none;
    margin:0; 
    padding: 0;
}

.catalog-items .catalog-items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-items-list li {
    flex-basis: 360px;
}

.btn-price {
    font: inherit;
    text-align: center;
    line-height: 18px;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red-light);
    border: none;
    cursor: pointer;
}

.btn-price:hover,
.btn-price:focus {
    background-color: var(--basic-red);
}

.btn-price:active {
    background-color: var(--basic-red-extra);
}

.catalog-pagination {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.catalog-items .pagination {
    font: inherit;
    text-align: center;
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-black);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-gray-light);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.catalog-items .pagination:hover,
.catalog-items .pagination:focus {
    background-color: var(--button-gray-hover);
}

.catalog-items .pagination:active {
    background-color: var(--button-gray-active);
    color: var(--basic-black-opacity-03)
}
/* Catalog items list end */